<mat-drawer-container>
  <mat-drawer #drawer [opened]='opened'>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add Dice
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="sideNav">
          <div class="diceOptions">
            <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[0]}}"
                (change)="addToEscalate($event, 0)">d4</p>
            <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[1]}}"
                (change)="addToEscalate($event, 1)">d6</p>
            <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[2]}}"
                (change)="addToEscalate($event, 2)">d8</p>
            <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[3]}}"
                (change)="addToEscalate($event, 3)">d10</p>
            <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[4]}}"
                (change)="addToEscalate($event, 4)">d12</p>
            <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[5]}}"
                (change)="addToEscalate($event, 5)">d20</p>
            <!-- <p><input class="diceInput" type="number" placeholder="X" value="{{waitingToEscalate[6]}}" (change)="addToEscalate($event, 6)">d20 + <input class="diceInput" type="number" placeholder="X"></p> -->
            <!-- <p><input class="diceInput" placeholder="X"></p> -->
          </div>

          <button *ngIf='team && role && name' mat-raised-button (click)="escalateDicePool()" class="font coloring"
            [ngStyle]="{'background': getColor(team)}">Escalate</button>
          <button *ngIf='!team || !role || !name' class="font" mat-raised-button disabled>Escalate</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Red Team
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="team === 'red'" class="playerHolder">
          <div class="flex-row">
            <i *ngIf="role === 'main'" class="fas fa-smile selectedIcon smileIcon"
              [ngStyle]="{'color': getColor(team)}"></i>
            <i *ngIf="role === 'helper'" class="fas fa-hands-helping selectedIcon"
              [ngStyle]="{'color': getColor(team)}"></i>
            <p class="playerBody playerHeader">{{name}}</p>
            <p class="playerBody">(you)</p>
          </div>
          <div *ngIf="escalations" class="flex-row">
            <p class="playerBody playerHeader">Escalations: </p>
            <p class="playerBody">{{escalations}}</p>
          </div>
          <div class="flex-row">
            <p class="playerBody playerHeader">Dice Pool: </p>
            <p class="playerBody">{{dicePool.length}}</p>
          </div>
        </div>

        <div *ngFor="let player of players">
          <div *ngIf="player.team === 'red' && player.playerId !== playerId" class="playerHolder">
            <div class="flex-row">
              <i *ngIf="player.role === 'main'" class="fas fa-smile selectedIcon smileIcon"
                [ngStyle]="{'color': getColor(player.team)}"></i>
              <i *ngIf="player.role === 'helper'" class="fas fa-hands-helping selectedIcon"
                [ngStyle]="{'color': getColor(player.team)}"></i>
              <p class="playerBody playerHeader">{{player.name}}</p>
            </div>
            <div *ngIf="player.escalations" class="flex-row">
              <p class="playerBody playerHeader">Escalations: </p>
              <p class="playerBody">{{player.escalations}}</p>
            </div>
            <div class="flex-row">
              <p class="playerBody playerHeader">Dice Pool: </p>
              <p class="playerBody">{{player.dicePoolCount}}</p>
            </div>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blue Team
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="team === 'blue'" class="playerHolder">
          <div class="flex-row">
            <i *ngIf="role === 'main'" class="fas fa-smile selectedIcon smileIcon"
              [ngStyle]="{'color': getColor(team)}"></i>
            <i *ngIf="role === 'helper'" class="fas fa-hands-helping selectedIcon"
              [ngStyle]="{'color': getColor(team)}"></i>
            <p class="playerBody playerHeader">{{name}}</p>
            <p class="playerBody">(you)</p>
          </div>
          <div *ngIf="escalations" class="flex-row">
            <p class="playerBody playerHeader">Escalations: </p>
            <p class="playerBody">{{escalations}}</p>
          </div>
          <div class="flex-row">
            <p class="playerBody playerHeader">Dice Pool: </p>
            <p class="playerBody">{{dicePool.length}}</p>
          </div>
        </div>

        <div *ngFor="let player of players">
          <div *ngIf="player.team === 'blue' && player.playerId !== playerId" class="playerHolder">
            <div class="flex-row">
              <i *ngIf="player.role === 'main'" class="fas fa-smile selectedIcon smileIcon"
                [ngStyle]="{'color': getColor(player.team)}"></i>
              <i *ngIf="player.role === 'helper'" class="fas fa-hands-helping selectedIcon"
                [ngStyle]="{'color': getColor(player.team)}"></i>
              <p class="playerBody playerHeader">{{player.name}}</p>
            </div>
            <div *ngIf="player.escalations" class="flex-row">
              <p class="playerBody playerHeader">Escalations: </p>
              <p class="playerBody">{{player.escalations}}</p>
            </div>
            <div class="flex-row">
              <p class="playerBody playerHeader">Dice Pool: </p>
              <p class="playerBody">{{player.dicePoolCount}}</p>
            </div>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Message Log
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="messages.length > 0" class="messageDisplay">
          <div *ngFor="let message of messages" class="messageBody">
            <i *ngIf="message.role === 'main'" class="fas fa-smile selectedIcon smileIcon"
              [ngStyle]="{'color': getColor(message.team)}"></i>
            <i *ngIf="message.role === 'helper'" class="fas fa-hands-helping selectedIcon"
              [ngStyle]="{'color': getColor(message.team)}"></i>
            <p class="mainMessageBody">{{message.message}}</p>
          </div>
        </div>

        <div *ngIf="messages.length === 0">
          <p>There are no messages currently</p>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <div class="background">
      <div class="topBar">
        <div>
          <button class="sidebarButton font coloring" mat-button [ngStyle]="{'background': getColor(team)}"
            (click)="openSideNav()">Menu</button>

          <mat-form-field>
            <mat-label class="font">Select Team</mat-label>
            <mat-select (selectionChange)="changeTeam($event)">
              <mat-option [value]="'red'" class="font">
                Red
              </mat-option>
              <mat-option [value]="'blue'" class="font">
                Blue
              </mat-option>
            </mat-select>
          </mat-form-field>

          <i *ngIf="role === 'main'" class="fas fa-smile selectedIcon smileIcon"
            [ngStyle]="{'color': getColor(team)}"></i>
          <i *ngIf="role === 'helper'" class="fas fa-hands-helping selectedIcon"
            [ngStyle]="{'color': getColor(team)}"></i>
          <mat-form-field>
            <mat-label class="font">Select Role</mat-label>
            <mat-select (selectionChange)="changeRole($event)">
              <mat-option [value]="'main'" class="font">
                <i class="fas fa-smile"></i>
                Main
              </mat-option>
              <mat-option [value]="'helper'" class="font">
                <i class="fas fa-hands-helping"></i>
                Helper
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field (change)="changeName($event)" class="font">
            <input matInput placeholder="Name">
          </mat-form-field>
        </div>

        <div *ngIf="escalations" class="flex-row escalationHeader">
          <h5 class="playerBody">Escalations</h5>
          <p class="playerBody">{{escalations}}</p>
        </div>
      </div>

      <div class="fieldShell">
        <div class="diceField">
          <app-dice-display *ngFor="let dice of foeSelected" [dice]="dice">
          </app-dice-display>
        </div>

        <h1>Total to Beat: {{toBeat}}</h1>
        <h2>Your Total: {{total}}</h2>

        <div *ngIf="role === 'main' || !role">
          <button *ngIf='team && role && selectedDice.length >= 2 && total >= toBeat && name' mat-raised-button
            class="font coloring" (click)="endTurn()" [ngStyle]="{'background': getColor(team)}">Send It!</button>
          <button *ngIf='!team || !role || selectedDice.length < 2 || total < toBeat || !name' mat-raised-button
            disabled class="font">Send
            It!</button>
        </div>
        <div *ngIf="role === 'helper'">
          <button *ngIf='team && selectedDice.length >= 1 && name' mat-raised-button color="warn" (click)="endTurn()"
            class="font coloring" [ngStyle]="{'background': getColor(team)}">Send
            Help!</button>
          <button *ngIf='!team || selectedDice.length < 1 || !name' mat-raised-button disabled class="font">Send
            Help!</button>
        </div>

        <div class="diceField">
          <app-dice-display *ngFor="let dice of selectedDice; let index = index" [dice]="dice"
            [selectOrDeselect]="deselectDice" [index]="index" [role]="role">
          </app-dice-display>
        </div>

        <div class="diceField" *ngIf="helperDice">
          <app-dice-display *ngFor="let dice of helperDice" [dice]="dice">
          </app-dice-display>
        </div>

        <div class="dicePool">
          <app-dice-display *ngFor="let dice of dicePool" [dice]="dice" [selectOrDeselect]="selectDice"
            [deleteDice]="deleteDice" [rerollDice]="rerollDice"></app-dice-display>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>