mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../../assets/background.jpg");
  position: relative;
  height: 94vh
}

.mat-expansion-panel-header-title {
  font-family: "ZCOOL XiaoWei", serif !important;
}

.background {
  background: linear-gradient(rgba(255, 255, 255, 0), whitesmoke, whitesmoke);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.topBar {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 15px;
  max-width: 125px;
}

.header-height {
  height: 55px;
}

.sideNav {
  min-width: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.diceOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.diceInput {
  width: 25px;
  text-align: right;
  border: none;
  border-bottom: 1px solid lightgrey;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

h1,
h2 {
  text-align: center;
}

.sidebarButton {
  margin: 0 15px;
}

.fieldShell {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw;
  margin: 75px auto 0;
}

.diceField {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
}

.helperField {
  border-top: 3px solid darkgreen;
}

.dicePool {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid lightgrey;
  background: whitesmoke;
  min-height: 100px;
  width: 100%;
  margin-top: 15px;
}

.messageDisplay {
  display: flex;
  flex-direction: column-reverse;
}

.messageBody {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mainMessageBody {
  margin: 5px;
}

i {
  font-size: 18px;
  color: black;
}

.selectedIcon {
  margin-right: 10px;
}

.smileIcon {
  font-size: 21px;
}

.font {
  font-family: "ZCOOL XiaoWei", serif;
}

.coloring {
  color: whitesmoke;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.playerHeader {
  margin: 0 15px 5px 0;
  font-weight: 900;
}

.playerBody {
  margin: 0 15px 5px 0;
}

.playerHolder {
  border-top: 2px solid lightgray;
}

.escalationHeader {
  min-width: 100px;
  justify-content: space-between;
  margin-right: 15px;
}
