<mat-drawer-container>
  <mat-drawer #drawer [opened]='opened'>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add Dice
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="sideNav">
          <div class="diceOptions">
            <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[0]}}"
                (change)="addToEscalate($event, 0)">d4</p>
            <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[1]}}"
                (change)="addToEscalate($event, 1)">d6</p>
            <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[2]}}"
                (change)="addToEscalate($event, 2)">d8</p>
            <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[3]}}"
                (change)="addToEscalate($event, 3)">d10</p>
            <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[4]}}"
                (change)="addToEscalate($event, 4)">d12</p>
            <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[5]}}"
                (change)="addToEscalate($event, 5)">d20</p>
            <!-- <p><input class="diceInput" placeholder="X" value="{{waitingToEscalate[6]}}" (change)="addToEscalate($event, 6)">d20 + <input class="diceInput" placeholder="X"></p> -->
            <!-- <p><input class="diceInput" placeholder="X"></p> -->
          </div>

          <button *ngIf='team && role && name' mat-raised-button color="warn"
            (click)="escalateDicePool()">Escalate</button>
          <button *ngIf='!team || !role || !name' mat-raised-button disabled>Escalate</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Red Team
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Player: Escalations 1 Dice Pool 4</p>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blue Team
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Info about Blue Team</p>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Message Log
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="messages.length > 0" class="messageDisplay">
          <div *ngFor="let message of messages" class="messageBody">
              <i *ngIf="message.role === 'main'" class="fas fa-smile selectedIcon smileIcon"></i>
              <i *ngIf="message.role === 'helper'" class="fas fa-hands-helping selectedIcon"></i>
              <p class="mainMessageBody">{{message.message}}</p>
          </div>
        </div>

        <div *ngIf="messages.length === 0">
          <p>There are no messages currently</p>
        </div>


      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content [ngStyle]="team">
    <div class="background">
      <div class="topBar">
        <button class="sidebarButton" mat-button color="warn" (click)="openSideNav()">Menu</button>
        <mat-form-field>
          <mat-label>Select Team</mat-label>
          <mat-select (selectionChange)="changeTeam($event)">
            <mat-option [value]="{borderTop: '10px solid rgb(158, 0, 0)', borderBottom: '10px solid rgb(158, 0, 0)'}">
              Red
            </mat-option>
            <mat-option [value]="{borderTop: '10px solid rgb(0, 0, 158)', borderBottom: '10px solid rgb(0, 0, 158)'}">
              Blue
            </mat-option>
          </mat-select>
        </mat-form-field>

        <i *ngIf="role && role === 'main'" class="fas fa-smile selectedIcon smileIcon"></i>
        <i *ngIf="role && role === 'helper'" class="fas fa-hands-helping selectedIcon"></i>
        <mat-form-field>
          <mat-label>Select Role</mat-label>
          <mat-select (selectionChange)="changeRole($event)">
            <mat-option [value]="'main'">
              <i class="fas fa-smile"></i>
              Main
            </mat-option>
            <mat-option [value]="'helper'">
              <i class="fas fa-hands-helping"></i>
              Helper
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field (change)="changeName($event)">
          <input matInput placeholder="Name">
        </mat-form-field>
      </div>

      <div class="fieldShell">
        <div class="diceField">
          <app-dice-display *ngFor="let dice of foeSelected" [dice]="dice">
          </app-dice-display>
        </div>

        <h1>Total to Beat: {{toBeat}}</h1>
        <h2>Your Total: {{total}}</h2>
        <div *ngIf="role === 'main' || !role">
          <button *ngIf='team && role && selectedDice.length >= 2 && total >= toBeat && name'
            mat-raised-button color="warn" (click)="endTurn()">Send It!</button>
          <button *ngIf='!team || !role || selectedDice.length < 2 || total < toBeat || !name'
            mat-raised-button disabled>Send
            It!</button>
        </div>
        <div *ngIf="role === 'helper'">
          <button *ngIf='team && selectedDice.length >= 1 && name' mat-raised-button color="warn"
            (click)="endTurn()">Send
            Help!</button>
          <button *ngIf='!team || selectedDice.length < 1 || !name' mat-raised-button disabled>Send
            Help!</button>
        </div>

        <div class="diceField">
          <app-dice-display *ngFor="let dice of selectedDice; let index = index" [dice]="dice"
            [selectOrDeselect]="deselectDice" [index]="index" [role]="role">
          </app-dice-display>
        </div>

        <div class="diceField" *ngIf="helperDice">
          <app-dice-display *ngFor="let dice of helperDice" [dice]="dice">
          </app-dice-display>
        </div>

        <div class="dicePool">
          <app-dice-display *ngFor="let dice of dicePool" [dice]="dice" [selectOrDeselect]="selectDice"
            [deleteDice]="deleteDice" [rerollDice]="rerollDice"></app-dice-display>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>